

.searcherContainer {
    margin: 1rem;
}

.searcherContainer input {

    border-radius: 2px;
    border: 2px none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
    height: 39px;
    width: 40%;
}



