

.searcherContainer {
    margin: 1rem;
}

.searcherContainer input {

    border-radius: 2px;
    border: 2px none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
    height: 39px;
    width: 40%;
}



/* Pantallas peque침as (m칩viles en landscape de menos de 768px) */

@media (max-width: 793.98px) { 
    .searcherContainer input {

        border-radius: 2px;
        border: 2px none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
        height: 29px;
        width: 40%;
    }
}

/* Pantallas muy peque침as (m칩viles en portrait de menos de 576px) */

@media (max-width: 575.98px) { 
}