.categoryContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;

}

h3 {
    text-align: justify;
    font-size: 40px;
    width: 80%;
    padding-bottom: 30px;
}

.recommended{
    width: 50%;
    max-width: 100%;
    height: auto;
    
}


.category{
    width: 50%;

}

.category h2{

    text-align: justify;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #F411CF;
    letter-spacing:5px;
    font-weight: bold;
    font-size: 24px;
}

.category h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 34px;
}

.categoryLinks{
    align-items: center;
    justify-content: center;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    gap: 20px; /* Espacio entre los elementos */
}

.cityAndNigth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #19182518;
    border-radius: 20px;
    height: 160px;
    width: 250px;
}

.cityImg {
    margin-top: 2px;
    height: 114px;
    width: 108px;
}

.adventureAndNature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #19182518;
    border-radius: 20px;
    height: 160px;
    width: 250px;
}

.natureImg {
    margin-top: 2px;
    height: 114px;
    width: 108px;
}

.cultureAndHeritage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #19182518;
    border-radius: 20px;
    height: 160px;
    width: 250px;
}

.historyImg{
    align-items: center;
    justify-content: center;
    height: 114px;
    width: 108px;
}

.welfareAndCouching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #19182518;
    border-radius: 20px;
    height: 160px;
    width: 250px;
}

.walfareImg {
    align-items: center;
    justify-content: center;
    height: 114px;
    width: 108px;
}


/* Pantallas pequeñas (móviles en landscape de menos de 768px) */

@media (max-width: 1040px) { 
    .categoryContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .recommended{
        display: none;
        /* width: 80%; */
    }
    .category{
        width: 100%;
        padding: 2rem;
        font-size: 1rem;
    }
    .cityAndNigth, 
    .adventureAndNature,
    .cultureAndHeritage,
    .welfareAndCouching{
        width: auto;
    }
    .categoryLinks{
    width: 100%;
    padding: 1rem;
}
.category h2{
    font-size: 20px;
}

.category h3{
    font-size: 27px;
    text-align:start;
}
 }
