.modalContainer {
    background: linear-gradient(to right bottom, #ff4fe2, #ff94ed, #ffe2fa, #ffffff);
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 2em; 
    width: 80%; /* Ajusta el ancho del formulario */
    max-width: 500px; /* Limita el ancho máximo */
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
    display: flex;
}

.modalDate {
    
    
}