header {
   background-color: #ffffff;
   position: sticky;
   top: 0;
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding: 20px;
   box-shadow: 0px 14px 11px -8px rgba(0,0,0,65);
   -webkit-box-shadow: 0px 14px 11px -8px rgba(0,0,0,65);
   -moz-box-shadow: 0px 14px 11px -8px rgba(0,0,0,65);
  
}



.login {
   text-align: center;
   padding: 5px 30px 5px 30px;
   background-color: #ffffff;  
   border: 2.3px solid #E3E1E1;
   font-weight: 600;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
}
.login:hover{
   border: 2.3px solid #872BFF;
}

.signup {
   text-align: center;
   padding: 5px 30px 5px 30px;
   background-color: #872BFF;
   border: 2.3px solid #872BFF;
   color: white;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
}
.signup:hover{
   border: 2px solid #E3E1E1;
}

