.bloque {
   display: flex;
   background-color: #FAF6F9;
   position: sticky;
   height: 6rem;
   top: 0;
   width: 100%; 
   justify-content: space-between;
   padding: 0.5rem 7rem 0.5rem 7rem ;
   z-index: 1000;
}

.login {
   justify-content: center;
   align-items: center;
   width: 8.1rem;
   height: 3.1rem;
   padding: 1rem;
   margin: 1rem;
   align-items: center;
   background-color: #ffffff;  
   border: 0.1rem solid #E3E1E1;
   font-weight: 600px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
}
.login:hover{
   border: 2.3px solid #872BFF;
}

.signup {
   justify-content: center;
   align-items: center;
   width: 8.1rem;
   height: 3.1rem;
   padding: 1rem;
   align-items: center;
   background-color: #872BFF;
   border: 2.3px solid #872BFF;
   color: white;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
}
.signup:hover{
   border: 2px solid #E3E1E1;
}

