.parte1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 1% 5% 5%;  
    font-size: 12px;  
}

.primeraColumna{
    width: 30%;
}

.primeraColumna p{
    color: #A8A8A8;
}

.primeraColumna img{
    width: 60%;;
}

.segundaColumna{
    width:50%;
    display:flex;
    justify-content: flex-end;
    text-align: left;
    color: #A8A8A8;
}

.products{
    margin: 0% 10%;
}


.ul{
    margin-top: 30%;
    width: 100%;
    text-align: left;
}

.parte1 p{
    text-align: left;
    margin-top: 5%;
}

.parte2{
    margin: 0% 5%;
    display: flex;
    justify-content: space-between;
}

.parte2 img{
    width: 20%;
    padding: 1%;
}

.footer-social{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.twitter{
    margin: 0% 5%;
}