.recommendedBloque {
  padding: 1rem 7rem 0.5rem 7rem ;
}

.recommendedContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #F411CF;
}

.tittleContainer {
  text-align: justify;
  width: 100%;
}


.containerCardContainer {
  justify-items: center;
  align-content: center;
  margin:10px;

}

.cardContainer {
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-template-rows: repeat(10, auto);
}

.cardRecommended {
  margin-top: 20px;
  border: 10px solid #ffff;
  border-radius: 20px;
  padding-bottom: 0.8rem;
}

.cardTexto{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: semibold;
  padding: 10px;
}

.imagenContainer img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: auto;
}

.verDetalles {
  background-color: #872BFF;
  width: 6.1rem;
  height: 2.1rem;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
}

.tittleContainer h2{
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #F411CF;
  letter-spacing:5px;
  font-weight: bold;
  font-size: 24px;
}

.tittleContainer h3{
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #1E1E1E;
  font-weight: bold;
  font-size: 44px;
  width: 100%;
}

.navigationArrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.back {
  color: #872BFF;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 2px solid #872BFF;
  border-radius: 50%;

}
.next {
  color: #ffffff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #872BFF
}

.recommendedBloque .headerRecomendados{
  display: flex;
  justify-content: space-between;
}

.showAll{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}