.recommendedBloque {
  margin: 20px;
}

.recommendedContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: F411CF;
}

.tittleContainer {
  text-align: justify;
}


.containerCardContainer {
  justify-items: center;
  align-content: center;
}

.cardContainer {
  width: 90%;
  height: 400px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.cardRecommended {
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  border-radius: 20px;
  height: 100%; 
  margin-right: 20px;
  padding-bottom: 10px;
  width: 80% !important;
}

.cardRecommended2{
  width: calc(50% - 20px);
}

.imagenContainer img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.verDetalles {
  background-color: #872BFF;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
}

.tittleContainer h2{
  color: #F411CF;
  letter-spacing:5px;
  font-size: 24px;
}

.tittleContainer h3{
  color: #1E1E1E;
  font-weight: bold;
  font-size: 44px;
}

.navigationArrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.back {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #872BFF
}
.next {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #872BFF
}

.recommendedBloque .headerRecomendados{
  display: flex;
  justify-content: space-between;
}

.showAll{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 90%;
  padding-left: 10%;
}



