.recommendedContainer {
    display: flex;
    justify-content: space-around;
   
    
}

.tittleContainer {
    text-align: justify;

}

.buttonContainer {
    margin-top: 28px;
}

.buttonContainer button {

    border-color: #872BFF;

    width: 40px;
    /* Ancho del botón */
    height: 40px;
    /* Altura del botón */
    border-radius: 50%;
    /* Hace que el botón sea redondo */
    margin: 4px;
}

.buttonLeft {
    background-color: white;
    color: #872BFF;
}

.buttonRight {
    background-color: #872BFF;
    color: #ffffff;
}

.containerCardContainer{
    justify-items: center;
    /* Alinea los componentes horizontalmente en el centro */
    align-content: center;
    /* Alinea las filas de componentes verticalmente en el centro */
}

.cardContainer {
    width: 90%; /* Ancho del contenedor */
    height: 400px; /* Altura del contenedor */
    overflow: auto; /* Agrega una barra de desplazamiento si el contenido es más grande que el contenedor */
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    /* Dos columnas */
    grid-template-rows: repeat(10, auto);
    /* Diez filas */
    gap: 30px;
    /* Espacio entre los componentes */
 
}

.cardRecommended {
    border-radius: 20px;
    width: 300px;
    height: 400px;
    border: solid;
}