.recommendedBloque {
  margin: 20px;
}

.recommendedContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #F411CF;
}

.tittleContainer {
  text-align: justify;
}

.containerCardContainer {
  justify-items: center;
  align-content: center;
}

.cardContainer {
  width: 90%;
  height: 400px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-template-rows: repeat(10, auto);
  gap: 20px;
}

.cardRecommended {
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  border-radius: 20px;
  width: 30%;
  height: 100%;
  margin-right: 20px;
}

.imagenContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imagenContainer img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 100%;
  height: auto;
}

.verDetalles {
  background-color: #872BFF;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.77);
}

.tittleContainer h2 {
  color: #F411CF;
  letter-spacing: 5px;
  font-size: 24px;
}

.tittleContainer h3 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 44px;
}

/* Carrusel */

.customCarousel {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 33.33333%;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.navigationArrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flecha {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #872BFF;
}

.back,
.next {
  width: 20px;
  height: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
}

.next {
  transform: rotate(-180deg);
}

.verMas{
  background-color: #F9F4FF;
  border-radius: 30px; 
  padding: 5px 20px; /* Ajusta el espacio interno del botón (arriba/abajo, izquierda/derecha) */
  font-size: 1em; 
  margin-top: 20px;
  color: #872BFF;
  border: 1px solid #872BFF;
}